* {
  padding-left: 0;
}

h1 {
  text-align: center;
}

img {
  height: 10rem;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.review {
  border: solid grey 2px;
  width: 20rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.single-review {
  width: 80%;
  padding-left: 10%;
}

.review-image {
  float: right;
}

.comment-list {
  display: flex;
  flex-direction: column;
  border: solid grey 2px;
  margin-left: 20px;
  margin: 20px;
  text-indent: 20px;
  width: auto;
}
